@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:200");

body{
	font-family: 'Source Sans Pro', sans-serif ;
	background-color:rgb(208,208,208);

} 

#product_description > div{
	background-image: url(../images/bg.jpg);
	background-size:cover;
}


.bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 5rem;
        }
      }


/* Header */
#dropdown01{
	padding-left:4rem;
}

/* Representative greeting */
#greetings{
	display: flex;
  justify-content: center;
background-color:rgb(220,220,220);
}

/* product introduction */
#product_description > div{
	border-radius:2rem;
}
#product_description > div > div > div > div:nth-child(n+0):nth-child(-n+7)
 > div{
	background-color: rgba(255,255,255,0.09);
}
#product_description > div > div > div > div:nth-child(n+0):nth-child(-n+7) > div > div > p{
	color:rgb(48,48,48);
	}
#product_description > div > div > div > div:nth-child(7){
	margin:0 auto;
}

/* consulting */

#icon{
	text-align:center;
	font-size:2rem;
	font-family: "Source Sans Pro", Helvetica, sans-serif;
	font-weight: 300;
}

/* Footer*/
#customer-center{
	font-size:3rem;
}

#sitemap_title{
	font-size:2rem;
}
#sitemap_div{
	padding-left:8rem;
}
	
#footer{
	background-color:rgba(0, 0, 0, 0.2) !important;
}







	
